
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.tab {
    width: 600px;
    height: 350px;
    border: 1px solid #000;
    margin: 100px auto;
    position: relative;
}
.tab ul {
    display: flex;
    justify-content: space-between;
}
.tab ul li {
    width: 200px;
    height: 50px;
    font: bold 16px/50px 'arial';
    background-color: #555;
    color: #999;
    text-align: center;
    cursor: pointer;
}
.tab > ul > li.on {
    background-color: aliceblue;
    color: #444;
}
.tab > .boxs > div {
    width: 600px;
    height: 300px;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition-duration: 0.5s; 
}
.tab > .boxs > div > p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    opacity: 0;
    background-color: aquamarine;
    transition-duration: 1s;
} 
.tab > .boxs > div.on {
    opacity: 1;
    z-index: 2;
}
.tab > .boxs > div.on > p {
    width: 100%;
    opacity: 1;
}

